.names{
    height: 40px;
    width: 40%;
    border: none;
    border-bottom: 1px solid rgb(31, 26, 41);
    border-left: 1px solid rgb(34, 21, 34);
    font-size: 16px;
    outline: none;
    padding: 2px 20px;
    box-shadow: 2px 10px 10px 0 rgba(15, 15, 15, 0.2), 2px 8px 20px 0 rgba(0, 0, 0, 0.19);

}
.outerName{
   justify-content: space-between;
  
}
.btn{  
    height: 50px;
    width: 20%;
    background-color: rgb(22, 141, 238);
    color: white;
    border: none;
    margin-bottom: 2rem;
   
}
.outer{
    text-align: center;    
    margin-top: 5%;
     
}
.regi{
    text-shadow: 2px 2px 4px #c51f7a;
    color: rgb(214, 24, 129);
    font-weight: 600;
}