.names{
    height: 40px;
    width: 40%;
    border: none;
    border-bottom: 1px solid rgb(31, 26, 41);
    border-left: 1px solid rgb(34, 21, 34);
    font-size: 16px;
    outline: none;
    padding: 2px 20px;
    box-shadow: 2px 10px 10px 0 rgba(15, 15, 15, 0.2), 2px 8px 20px 0 rgba(0, 0, 0, 0.19);
     margin: 20px;
}
.outerName{
   justify-content: space-between;
  
}
.btn{
    height: 50px;
    width: 20%;
    background-color: rgb(22, 141, 238);
    color: white;
    border: none;
    margin-bottom: 2rem;
    outline: none;
}

.regi{
    text-shadow: 1px 1px 2px #091e42;
    color: #245b88;
    font-weight: 600;
}
.outer{
    text-align: center;    
    margin-top: 5%;
   
    
}
.acc{
    font-size: 18px;    
    margin: 20px;
}
.link{
    font-weight: 600;
    color: #08477a;
}
.err{
    background-color: #cfbbbd;
    color: red;
    margin: 5px 5rem;
    padding: 2px;
    height: 40px;
    width: 40%;
    margin-left: 30%;
}
.succ{
    background-color: #a7b9bd;
    margin: 5px 5rem;
    padding: 2px;
    height: 30px;
    color: rgb(61, 61, 185);
}